@page
@model PizzaShop.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.7.0/csshake.min.css" />`
<h1>Products</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<div class="table-responsive-lg">
    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> &nbsp;
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> &nbsp;
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    @*
        Having some fun
    *@

</div>
<div style="width: 100px">
    <a asp-page="../Index" class="btn btn-primary shake-constant shake-chunk">Home</a>
</div>